body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:892px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:133px;
  height:35px;
  display:flex;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u1363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1363_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:85px;
  width:772px;
  height:294px;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1365 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:658px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1366 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:114px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1367 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:30px;
  width:658px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1368 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:114px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1369 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:60px;
  width:658px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1370 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:204px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:114px;
  height:204px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1371 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:204px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:90px;
  width:658px;
  height:204px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1372 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:379px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
