body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:892px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:107px;
  height:35px;
  display:flex;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u1473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:85px;
  width:772px;
  height:218px;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1475 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:658px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1476 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:114px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1477 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:30px;
  width:658px;
  height:30px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1478 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:54px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:114px;
  height:54px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1479 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:54px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:60px;
  width:658px;
  height:54px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1480 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:104px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:114px;
  height:104px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1481 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:104px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:114px;
  width:658px;
  height:104px;
  display:flex;
  font-family:'仿宋';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:left;
}
#u1482 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:303px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
